:root {
  --primary-color: #8011F0;
  --secondary-color: #FA1172;
  --text-color: #fff;
  --accent-color: #1d07e0;
  --border-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.39);
  --hover-color: #F01611;
  --input-border-color: #8011F0;
  --button-background-color: #8011F0;
  --button-text-color: #fff;
  --form-background-color: #ffff;
}

* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    font-family: "IBM Plex Mono";
  }

  body::-webkit-scrollbar {
    width: 5px;               
  }
  
  body::-webkit-scrollbar-track {
    background: var(--secondary-color); 
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;     
    border: 3px solid var(--secondary-color);  
  }
  
  /* Encabezado */
  header {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    box-shadow: 10px 5px 5px grey;
  }

  .img-logo{
    width: 376px;
    height: 56px;
  }
  /*----------------------------*/
  
  /* Mis productos*/
  main {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  
  h1 {
    display: flex;
    font-family: "Press Start 2P";
    margin-bottom: 8px;
    justify-content: center;
    font-size: 1.5rem;
  }

  p {
    text-align: left;
  }
  
  
  /* Seção "Meus Produtos" */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  
  .menu-productos {
    text-align: center;
  }
  

  .card {
    background: var(--primary-color);
    color: #fff;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid #000;
    align-items: center;
    top: 20px;
    left: 20px;
    padding: 10px 0;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
  }
  
  .card:hover {
    background-color: var(--accent-color); 
    color: #fff; 
    transition: 1s ease-out;
  }
  
  .card p {
    margin: 10px 10px;
  }
  
  .card img {
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    border: 3px solid #000;
    gap: 8px;
    margin-bottom: 5px;
  }

  .productos {
    display: grid;
    border-radius: 5%;
    width: 678px;
    height: auto;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 0;
    padding: 20px;
    overflow: auto;
    padding-top: 40px;
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
  }
  
  .productos img {
    width: 176px;
    height: 174px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .productos-container {
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0% 1% 2% 1%;
    border-radius: 5%;
    height: fit-content;
    margin-bottom: 15px;
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
  }
  
  .card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }
  
  .card-container--value img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trash {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .trash:hover {
    background: var(--hover-color);
  }
  
  /* Seção "Adicionar Produtos" */
  input {
    font-family: "IBM Plex Mono";
    border-radius: 15px;
    width: 392px;
    height: 58px;
    border: 3px solid var(--input-border-color);
    margin-bottom: 15px;
    padding-left: 10px;
    box-shadow: 4px 5px 5px grey;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  #imagen {
    margin: 0;
    border-radius: 15px;
    height: fit-content;
    width: 392px;
    text-align: center;
    padding: 20px 0 18px 9px;
    margin-bottom: 15px;
  }
  
  button {
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    width: 188px;
    height: 55px;
    border: 2px solid #03318C;
    outline: none;
    border-radius: 15px;
    color: white;
    background-color: #03318C;
    box-shadow: 4px 5px 5px grey;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--button-background-color);
    color: #fff; 
    transition: 0.5s ease-in-out;
  }
  
  .agregar-productos {
    padding-left: 30px;
  }
  
  .enviar {
    background-color: var(--input-border-color);
    color: #fff;
    border: 3px solid var(--input-border-color);
  }
  
  .enviar:hover {
    background-color: #fff;
    color: var(--button-background-color);
  }
  
  .limpiar {
    background-color: #ffff;
    color: var(--input-border-color);
    border: 3px solid var(--input-border-color);
  }
  
  #form-producto {
    max-width: 400px;
  }
  
  #form-producto button {
    cursor: pointer;
  }
  
  /* Rodapé */
  footer {
    background: var(--secondary-color);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    text-align: center;
  }

  .icons{
    width: 50px;
    padding: 5px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .container {
      display: wrap;
      flex-direction: column-reverse;
      overflow: auto;
    }
  
    #form-produto {
      padding-bottom: 60px;
      width: 430px;
      height: 517px;
      top: 60px;
      padding: 40px 0 0 0;
      gap: 40px;
      opacity: 0;
    }
  }
  